# Intro

Similar to mints, but actually more interesting, since it involves actual transfers and transactions with eth

In [2]:

# TODO: who sold the most
# TODO: who are the most frequent buyers
# TODO: value change over time
# TODO: analysis on nfts sold multiple times (valuable for future). How value changed
# TODO: join with transfer_statistics_by_address df ??? (for each row in of buyer and out of seller ?)

In [3]:
import os
import sqlite3

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import nfts.dataset

In [4]:
dirname = os.path.dirname(os.path.abspath("__file__"))
DATASET_PATH = os.path.join(dirname, "nfts.sqlite")
ds = nfts.dataset.FromSQLite(DATASET_PATH)

transfers_df = ds.load_dataframe("transfers")
transfers_df.head()

,event_id,transaction_hash,block_number,nft_address,token_id,from_address,to_address,transaction_value,timestamp
0,cd816651-56b2-4ed9-887c-c83de732428d,0x0c73daad5e6946e6b2f1374846d6ba3025d6e6a2569f...,12936373,0x629A673A8242c2AC4B7B8C5D8735fbeac21A6205,6682934142305278177002530107138320246486863356...,0x25f1d709b329C7349b8209851E90eFa3a7f60178,0xC69b4c6fFDBaF843A0d0588c99E3C67f27069BEa,0.0,1627776481
1,82cc5228-eb80-4e0d-9f6f-e644dec3ab06,0x0c73daad5e6946e6b2f1374846d6ba3025d6e6a2569f...,12936373,0x629A673A8242c2AC4B7B8C5D8735fbeac21A6205,1198507443711741845273832738859307575893198744...,0x0737E7162C88E9FBB963334e4Bfe6e97447fF811,0xC69b4c6fFDBaF843A0d0588c99E3C67f27069BEa,0.0,1627776481
2,6e1f9cc4-d1df-4a6b-972d-a20765beb326,0x0c73daad5e6946e6b2f1374846d6ba3025d6e6a2569f...,12936373,0x629A673A8242c2AC4B7B8C5D8735fbeac21A6205,1541220344281436903042142177888467401468454835...,0xA0fEc186c4b3FAd39ca373dFdd52E79C2495F2c3,0xC69b4c6fFDBaF843A0d0588c99E3C67f27069BEa,0.0,1627776481
3,43dc27a7-a72d-4894-809c-e868de05f7ee,0x0c73daad5e6946e6b2f1374846d6ba3025d6e6a2569f...,12936373,0x629A673A8242c2AC4B7B8C5D8735fbeac21A6205,7993840355029527745913866651030234226423689128...,0x90bE22069560A9bAd99543B4A922d1FE34Ae84E9,0xC69b4c6fFDBaF843A0d0588c99E3C67f27069BEa,0.0,1627776481
4,47b7839b-9b87-442d-b2c1-9ebedcad8e06,0x0c73daad5e6946e6b2f1374846d6ba3025d6e6a2569f...,12936373,0x629A673A8242c2AC4B7B8C5D8735fbeac21A6205,1123719749142984581497870712442861055686734521...,0xA8E9C42Ebb915EeEC5080B7Bcc5D844475595091,0xC69b4c6fFDBaF843A0d0588c99E3C67f27069BEa,0.0,1627776481

In [7]:
transfers_stats_df = ds.load_dataframe("transfer_statistics_by_address")
transfers_stats_df.sort_values('transfers_in', inplace=True, ascending=False)

transfers_stats_df.head()

# TODO: sort by in and/or out descending

,address,transfers_out,transfers_in
0,0x0000000000000000000000000000000000000000,0,118931
457654,0xcDA72070E455bb31C7690a170224Ce43623d0B6f,36105,76631
357213,0xC69b4c6fFDBaF843A0d0588c99E3C67f27069BEa,1,74608
6,0x000000000000000000000000000000000000dEaD,4,20826
431383,0xb1690C08E213a35Ed9bAb7B318DE14420FB57d8C,22580,13892

# Conclusions